// --- styles
@import "commons.scss";
// === / styles
// --- section_intro
section {
    padding-top: 150px;
    padding-bottom: 150px;
    @media (max-width: $screen_xs_max) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
}

p {
    font-weight: 300;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    @media (max-width: $screen_xs_max) {
        font-size: 20px;
    }
}

.body .intro_title {
    margin-top: 100px;
}

.section_intro {
    padding: 0;
    position: relative;
    overflow: hidden;
    .intro_title {
        font-size: 48px;
    }
    .intro_wrap {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    @media (max-width: $screen_xs_max) {
        .intro_title {
            font-size: 34px;
            margin-top: 306px;
        }
    }
}

// === / section_intro
// --- section_promo
.section_preview {
    .bg_image {
        position: absolute;
        top: -310px;
        left: -300px;
        transform: rotate(-75deg) scale(0.6);
    }
    @media (max-width: $screen_xs_max) {
        .preview_text {
            text-align: left;
        }
    }
}

// === / section_promo
// --- section_services_massage
.section_services_massage {
    padding: 0;
    .massage_item_wrap {
        padding-bottom: 60px;
    }
    .massage_item_inner {
        position: relative;
        display: flex;
    }
    .image_wrap {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0.3);
        }
        .sale {
            position: absolute;
            z-index: 2;
            top: -32px;
            left: -97px;
        }
    }
    .massage_item {
        position: relative;
        z-index: 3;
        padding-left: 30px;
        .service_item_title {
            font-size: 28px;
            margin-bottom: 20px;
        }
        p {
            text-align: left;
        }
        ul {
            li+li {
                margin-top: 6px;
            }
            li::before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url(../img/svg/list_marker.svg) no-repeat 0 0;
                background-size: 100%;
                margin-right: 15px;
            }
        }
        .massage_button {
            // margin-top: 30px;
            min-width: 200px;
        }
    }
    .bg_image {
        position: absolute;
        &__massage-1 {
            top: -72px;
            right: 90px;
            transform: rotate(171deg) scale(0.6);
        }
        &__massage-2 {
            bottom: -423px;
            right: 0px;
            transform: rotate(171deg) scale(0.4);
        }
        &__massage-3 {
            bottom: -196px;
            left: -476px;
            transform: rotate(100deg) scale(0.65);
        }
        &__massage-4 {
            bottom: -182px;
            right: 0px;
            transform: rotate(187deg) scale(0.37);
        }
    }
    @media (min-width: $screen_xl) {
        .massage_item_inner {
            align-items: center;
        }
    }
    @media (max-width: $screen_lg_max) {
        .massage_item_wrap {
            padding-bottom: 100px;
        }
    }
    @media (max-width: $screen_xs_max) {
        .massage_item_wrap {
            position: relative;
            .image_wrap {
                padding: 0;
            }
            &.row_reverse {
                flex-direction: column-reverse;
            }
        }
        .massage_item {
            margin-top: 30px;
            li {
                font-size: 16px;
            }
        }
        .service_item_title {
            position: absolute;
            top: -112px;
            left: 0px;
            font-size: 26px;
            color: #fff;
            font-weight: 500;
            line-height: 1.2;
        }
        .image_wrap {
            padding-top: 20px;
            position: relative;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                // background-color: rgba(0, 0, 0, 0.6);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37298669467787116) 68%, rgba(0, 0, 0, 0.8575805322128851) 100%);
            }
        }
    }
}

// === / section_services_massage
// --- section_promo
.section_promo {
    // padding-top: 0;
    .promo_text {
        position: relative;
    }
    @media (min-width: $screen_sm) {
        .promo_text {
            &::before {
                position: absolute;
                top: -55px;
                left: -50px;
                content: "";
                display: inline-block;
                width: 64px;
                height: 64px;
                background: url(../img/svg/quotes-start.svg) no-repeat 0 0;
                background-size: 100%;
            }
            &::after {
                position: absolute;
                bottom: 0px;
                right: -60px;
                content: "";
                display: inline-block;
                width: 64px;
                height: 64px;
                background: url(../img/svg/quotes-finish.svg) no-repeat 0 0;
                background-size: 100%;
            }
        }
    }
    @media (max-width: $screen_xs_max) {
        .promo_text {
            text-align: left;
        }
    }
}

// === / section_promo